@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  color: #ededed; /* Fallback for browsers that do not support variables */
  background: var(--background);
  background: #0a0a0a; /* Fallback for browsers that do not support variables */
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
